/* $menu-dark-color: #0d6efd !default;
$menu-dark-bg-color: #fd7e14 !default;


.sidenav-overlay {

    background-color: #0d6efd;

}


$nav-component-border-color: #0d6efd !default;

$swiper-bg: #0d6efd !default;


//main menu dark
$menu-dark-color: #0d6efd !default;
$menu-dark-bg-color: #0d6efd !default;



//  -------------------------------
//  Blank Page Bg Color
//  -------------------------------

$blank-bg-color: #0d6efd !default; */
/* @mixin menu-theme($theme-color, $theme-bg) {
    $main-menu-top-open-color: darken($theme-color, 10%);
    $main-menu-top-open-hover-bg: darken($theme-bg, 6%);
    $main-menu-top-open-head-bg: darken($theme-bg, 4%);

    $main-menu-top-active-head-bg: darken($theme-bg, 4%); //$primary

    $main-menu-sub-color: $theme-color;
    $main-menu-sub-hover-color: lighten($theme-color, 4%);

    $main-menu-sub-open-color: $theme-color;

    color: $theme-color;
    background: #0d6efd;

    .navigation {
      background: #0d6efd

    }

} */
.card-statistics .statistics-body {
  padding: 2rem 2.4rem !important;
}

@media (max-width: 991.98px) {
  .card-statistics .card-header,
.card-statistics .statistics-body {
    padding: 1.5rem !important;
  }
}
.card-company-table thead th {
  border: 0;
}

.card-company-table td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.card-company-table td .avatar {
  background-color: #f8f8f8;
  margin-right: 2rem;
}

.card-company-table td .avatar img {
  border-radius: 0;
}

.card-browser-states .browser-states:first-child {
  margin-top: 0;
}

.card-browser-states .browser-states:not(:first-child) {
  margin-top: 1.7rem;
}

.card-transaction .transaction-item:not(:last-child) {
  margin-bottom: 1.5rem;
}