/* $menu-dark-color: #0d6efd !default;
$menu-dark-bg-color: #fd7e14 !default;


.sidenav-overlay {

    background-color: #0d6efd;

}


$nav-component-border-color: #0d6efd !default;

$swiper-bg: #0d6efd !default;


//main menu dark
$menu-dark-color: #0d6efd !default;
$menu-dark-bg-color: #0d6efd !default;



//  -------------------------------
//  Blank Page Bg Color
//  -------------------------------

$blank-bg-color: #0d6efd !default; */
/* @mixin menu-theme($theme-color, $theme-bg) {
    $main-menu-top-open-color: darken($theme-color, 10%);
    $main-menu-top-open-hover-bg: darken($theme-bg, 6%);
    $main-menu-top-open-head-bg: darken($theme-bg, 4%);

    $main-menu-top-active-head-bg: darken($theme-bg, 4%); //$primary

    $main-menu-sub-color: $theme-color;
    $main-menu-sub-hover-color: lighten($theme-color, 4%);

    $main-menu-sub-open-color: $theme-color;

    color: $theme-color;
    background: #0d6efd;

    .navigation {
      background: #0d6efd

    }

} */
.blog-list-wrapper .blog-title-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-list-wrapper .blog-content-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-detail-wrapper .blog-detail-share .dropdown-menu {
  min-width: auto;
}

.blog-sidebar .blog-recent-posts img {
  object-fit: cover;
}

.blog-sidebar .blog-recent-posts .text-body-heading:hover {
  color: #0c69f0 !important;
}

.blog-sidebar .blog-recent-post-title,
.blog-sidebar .blog-category-title {
  line-height: 23px;
  letter-spacing: 0;
}

.blog-edit-wrapper .border {
  border-color: #d8d6de !important;
}